*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
/* all div style */
img{
    /* background-color: yellow; */
    border: 1px solid green;
    width: 240px;
    height: 135px;
}

.top{
    margin: 50px 0px 0px 39%;
    /* background-color: red; */
}

.top .Selection_btn{
    display: block;
    margin: 50px 0px 0px 50px;
    
}

.down {
    /* background-color: red; */
    margin: 150px 0px 0px 10%;
}
.down img{
    display: inline-block;
    margin-right:50px ;
}
